
{{> head }}

<body>
    
    <!-- Para renderizar el partial --> 
    {{> navbar }}

    <div class="row">

        <div class="col-8">
            <h1>Prueba de about</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti architecto voluptate impedit, provident quae illo. Sit quis commodi dolor facilis corporis, incidunt earum sunt excepturi adipisci suscipit, sint nihil odit?
            </p>
        </div>

        <div class="col-4">

            <img src="assets/img/imagen-ejemplo.png" class="img-thumbnail">

        </div>

    </div>

   {{> footer }}

</body>
</html>

<!-- Para verlo es localhost:3000/home.html -->